{% extends 'AhnenBundle::base.html.twig' %}

{% block body %}
<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
        <h1>
            <a href="{{ path('homepage') }}">
                <i class="fa fa-share-alt"></i> Ahnen
            </a>
        </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li class="has-dropdown">
                <a class="active" href="#">Main Item 1</a>
                <ul class="dropdown">
                    <li><label>Section Name</label></li>
                    <li><a href="#" class="">Dropdown Level 1</a></li>
                    <li class="divider"></li>
                    <li><label>Section Name</label></li>
                    <li><a href="#">Dropdown Option</a></li>
                </ul>
            </li>
        </ul>

        <ul class="right">
            <li class="divider"></li>
            <li class="has-dropdown">
                <a href="#">Benutzer</a>
                <ul class="dropdown">
                    <li><a href="#">Abmelden</a></li>
                </ul>
            </li>
        </ul>
    </section>
</nav>

<div id="content">
    {% block content %}{% endblock %}
</div>

<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns">
                <p>by Tobias Olry - licensed under MIT License</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="https://github.com/tolry/ahnens">fork me on github</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
