{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="row">

    <div class="large-3 columns">
        <h5>Panel Title</h5>
        <p>This is a three columns grid panel with an arbitrary height.</p>
    </div>
    <div class="large-6 columns">
        <h5>Panel Title</h5>
        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
    </div>
    <div class="large-3  columns">
        <h5>Panel Title</h5>
        <p>This is a three columns grid panel with an arbitrary height.</p>
    </div>

</div>
{% endblock %}
